footer {
    padding-top: 10px;
    height: 50px;
    background-color: #0D75BC;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #535552;
}

.navbar {
    background-color: #0D75BC;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item a {
    color: #fff;
}

.nav-item a:hover {
    color: #535552;
}

.btn {
    color: #fff;
    border-color: #fff;
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover {
    /* color: var(--bs-btn-hover-color); */
    background-color: #fff;
    border-color: #535552;
    color: #535552;
}